
<div style="float:right">
<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
</button>
</div>

<h1>Model Yachting</h1>

<%= react_component('ResourceList') %>
