<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <h4>Some title here</h4>
      <p>Some copy here</p>
      <small>somedomain.com</small>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <h4>Some title here</h4>
      <p>Some copy here</p>
      <small>somedomain.com</small>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <h4>Some title here</h4>
      <p>Some copy here</p>
      <small>somedomain.com</small>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <h4>Some title here</h4>
      <p>Some copy here</p>
      <small>somedomain.com</small>
    </div>
  </div>
</div>

