body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #f1f1f1;
}

.thumbnail {
  height: 250px;
  padding-left: 10px;
  cursor: pointer;

  .excerpt {
    height: 150px;
    display: block;
  }
}

