body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #f1f1f1;
}

.thumbnail {
  height: 250px;
  padding-left: 10px;
  cursor: pointer;

  .excerpt {
    //height: 150px;
    //display: block;
  }

    
  .foot {
    position: absolute;
    left: 30px;
    bottom: 30px;
  }

  h4 {
    line-height: 1.2;
  }

}

